:root {
    --text-color: #000000;
    --background-color: #FFF8E0;
    --logo-color: #FF8B00; 
    --accent-color: #71D831;
    --accent-text: #FF6A00;
    --arrow-color: #FFC723;
    --dark-dot-color: #FF9C00;
}



h1, h2, h3, p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    display: block;
}

.box {
    margin: 0%;
    padding: 0%;
}


/* font-family: "Lato", sans-serif;
font-family: "Montserrat", sans-serif; */


.container {
    width: 1716px;
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
}

/* header */

.header-item {
    color: var(--text-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4; 
}